@using Domain.Products
@model Domain.Sales.Sale

@{
    ViewData["Title"] = "Venta - Mesa " + ViewData["TableName"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Sales/Sales.css" />
}

<div id="product-container">
    <div class="category">
        <h2>Bebidas<span class="showProducts-button">+</span></h2>
        <ul class="product-list hide">
            @foreach(Product product in ViewData["productList"] as List<Product>)
            {
                <li data-id="@product.Id" data-price="@product.Price">
                    <div>@product.Name</div>
                    <div class="counter">
                        <span class="minus-button">-</span>
                        <span>
                            <strong class="to-sale">0</strong>
                            <em class="inventory">100</em>
                        </span>
                        <span class="plus-button">+</span>
                    </div>
                </li>
            }
        </ul>
    </div>
    <div class="category">
        <h2>Guaro<span class="showProducts-button">+</span></h2>
        <ul class="product-list hide">
            @foreach (Product product in ViewData["productList"] as List<Product>)
            {
                <li data-id="@product.Id" data-price="@product.Price">
                    <div>@product.Name</div>
                    <div class="counter">
                        <span class="minus-button">-</span>
                        <span>
                            <strong class="to-sale">0</strong>
                            <em class="inventory">100</em>
                        </span>
                        <span class="plus-button">+</span>
                    </div>
                </li>
            }
        </ul>
    </div>
    <div class="category">
        <h2>Comida<span class="showProducts-button">+</span></h2>
        <ul class="product-list hide">
            @foreach (Product product in ViewData["productList"] as List<Product>)
            {
                <li data-id="@product.Id" data-price="@product.Price">
                    <div>@product.Name</div>
                    <div class="counter">
                        <span class="minus-button">-</span>
                        <span>
                            <strong class="to-sale">0</strong>
                            <em class="inventory">100</em>
                        </span>
                        <span class="plus-button">+</span>
                    </div>
                </li>
            }
        </ul>
    </div>
    <div class="category">
        <h2>Otros<span class="showProducts-button">+</span></h2>
        <ul class="product-list hide">
            @foreach (Product product in ViewData["productList"] as List<Product>)
            {
                <li data-id="@product.Id" data-price="@product.Price">
                    <div>@product.Name</div>
                    <div class="counter">
                        <span class="minus-button">-</span>
                        <span>
                            <strong class="to-sale">0</strong>
                            <em class="inventory">100</em>
                        </span>
                        <span class="plus-button">+</span>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

<div id="sale-resume">
    <h1>Resumen de esta venta</h1>
    <ul></ul>
    <input type="submit" value="Guardar" class="btn btn-primary" id="btn-save" />
</div>

<div class="row hide">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Table" class="control-label"></label>
                <input asp-for="Table" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Product" class="control-label"></label>
                <input asp-for="Product" class="form-control" id="product" />
                <span asp-validation-for="Product" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/Sales/Sales.js?V=1.1"></script>
}
