@model IEnumerable<Domain.Tables.Table>

@{
    ViewData["Title"] = "Mesas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles { <link rel="stylesheet" href="~/css/Tables/Tables.css" /> }

<p id="btn-container">
    <a asp-action="Create" class="btn btn-primary">Crear nueva mesa</a>
</p>
<ul id="tables">
@foreach (var table in Model)
{
    <li data-id="@table.Id">
        <div class="details">
            <p>Mesa @table.Name</p>
            <p>
                <span><strong class="capacity">@table.Capacity</strong>(Capacidad)</span>|
                <span><strong class="start">@table.Start</strong>(Inicio)</span>
            </p>
        </div>
        <div class="btn-delete">@Html.ActionLink("Borrar", "Delete", new { id = table.Id })</div>
    </li>
}
</ul>

@section Scripts { <script src="~/js/Tables/Tables.js?V=1.1"></script> }