@model IEnumerable<Domain.Products.Product>

@{
    ViewData["Title"] = "Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles { <link rel="stylesheet" href="~/css/Products/Products.css" /> }

<p id="btn-container">
    <a asp-action="Create" class="btn btn-primary">Crear nuevo producto</a>
</p>
<ul id="products">
@foreach (var product in Model) {
    <li data-id="@product.Id">
        <div class="details">
            <p>@product.Name</p>
            <p>
                <span><strong class="cost">@product.Cost</strong>(Costo)</span>|
                <span><strong class="price">@product.Price</strong>(Precio)</span>|
                <span><strong class="inventary">@product.Quantity</strong>(Inventario)</span></p>
        </div>
        <div class="btn-delete">@Html.ActionLink("Borrar", "Delete", new { id = product.Id })</div>
    </li>}
</ul>

@section Scripts { <script src="~/js/Products/Products.js?V=1.1"></script> }