@using Application.Sales
@using Application.Products
@model IEnumerable<Application.Sales.InvoiceViewModel>

@{
    ViewData["Title"] = "Facturas activas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles { <link rel="stylesheet" href="~/css/Invoices/Invoices.css" /> }

<ul id="invoices">
    @foreach (InvoiceViewModel sale in Model as IEnumerable<InvoiceViewModel>)
    {
        <li>
            <h2>@sale.TableName<span>+</span></h2>
            <Table>
                <tbody>
                    @foreach (ProductSaleViewModel product in sale.Products)
                    {
                        <tr>
                            <td>@product.Name</td>
                            <td>@product.Price</td>
                            <td>x</td>
                            <td>@product.Quantity</td>
                            <td>=</td>
                            <td>@product.SubTotal</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">Total</td>
                        <td>@sale.Total</td>
                    </tr>
                </tfoot>
            </Table>
            <div class="btn-container">
                <input type="submit" value="Pagar" class="btn btn-primary btn-pay" data-sale="@sale.Id" />
            </div>
        </li>
    }
</ul>


@section Scripts { <script src="~/js/Invoices/Invoices.js?V=1.1"></script> }